<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.ecloud.mapper.VirtualFileMapper">
  <resultMap id="BaseResultMap" type="com.bjfu.ecloud.entity.VirtualFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="physical_file_id" jdbcType="INTEGER" property="physicalFileId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="virtual_folder_id" jdbcType="INTEGER" property="virtualFolderId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="virtual_file_status" jdbcType="CHAR" property="virtualFileStatus" />
    <result column="file_size" jdbcType="VARCHAR" property="fileSize" />
    <result column="file_type" jdbcType="CHAR" property="fileType" />
    <result column="file_recent_update" jdbcType="TIMESTAMP" property="fileRecentUpdate" />
    <result column="file_authority" jdbcType="CHAR" property="fileAuthority" />
  </resultMap>
  <sql id="Base_Column_List">
    id, physical_file_id, user_id, virtual_folder_id, file_name, virtual_file_status, 
    file_size, file_type, file_recent_update, file_authority
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from virtual_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByParentVirtualFolderId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select * from virtual_file where virtual_folder_id = #{id, jdbcType=INTEGER}
  </select>
  <select id="selectRootFilesByUserId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select * from virtual_file where user_id = #{userId, jdbcType=INTEGER}
    and virtual_folder_id = (select id from virtual_folder where user_id = #{userId, jdbcType=INTEGER} and virtual_path = "/")
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from virtual_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjfu.ecloud.entity.VirtualFile">
    insert into virtual_file (id, physical_file_id, user_id, 
      virtual_folder_id, file_name, virtual_file_status, 
      file_size, file_type, file_recent_update, 
      file_authority)
    values (#{id,jdbcType=INTEGER}, #{physicalFileId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{virtualFolderId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{virtualFileStatus,jdbcType=CHAR}, 
      #{fileSize,jdbcType=VARCHAR}, #{fileType,jdbcType=CHAR}, #{fileRecentUpdate,jdbcType=TIMESTAMP}, 
      #{fileAuthority,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjfu.ecloud.entity.VirtualFile">
    insert into virtual_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="physicalFileId != null">
        physical_file_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="virtualFolderId != null">
        virtual_folder_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="virtualFileStatus != null">
        virtual_file_status,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="fileRecentUpdate != null">
        file_recent_update,
      </if>
      <if test="fileAuthority != null">
        file_authority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="physicalFileId != null">
        #{physicalFileId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="virtualFolderId != null">
        #{virtualFolderId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="virtualFileStatus != null">
        #{virtualFileStatus,jdbcType=CHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileRecentUpdate != null">
        #{fileRecentUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAuthority != null">
        #{fileAuthority,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjfu.ecloud.entity.VirtualFile">
    update virtual_file
    <set>
      <if test="physicalFileId != null">
        physical_file_id = #{physicalFileId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="virtualFolderId != null">
        virtual_folder_id = #{virtualFolderId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="virtualFileStatus != null">
        virtual_file_status = #{virtualFileStatus,jdbcType=CHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileRecentUpdate != null">
        file_recent_update = #{fileRecentUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAuthority != null">
        file_authority = #{fileAuthority,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjfu.ecloud.entity.VirtualFile">
    update virtual_file
    set physical_file_id = #{physicalFileId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      virtual_folder_id = #{virtualFolderId,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      virtual_file_status = #{virtualFileStatus,jdbcType=CHAR},
      file_size = #{fileSize,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=CHAR},
      file_recent_update = #{fileRecentUpdate,jdbcType=TIMESTAMP},
      file_authority = #{fileAuthority,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>